@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.main-nepo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background: url('./assets/img/fondo_animado.png');
  background-size: cover;
  background-position: center center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

audio{
  display: none;
}

.content-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.logo{
  border: none;
  display: flex;
  align-items: center;
}

.mascota-logo{
  cursor: pointer;
}

.title{
  display: inline-flex;
  display: block;
  margin: 0 20px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.title:hover{
  color: rgb(248, 172, 29);
  transition: .2s;
}

a > h4{
  color: #fff;
}

a > h3:hover{
  color: rgb(248, 172, 29);
}

a {
  text-decoration: none;
}

nav ul li > a:visited{
  color: #fff;
}

header .content-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header .content-header nav ul li{
  margin: 0 20px;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: .5s;
  background-color: rgb(215, 141, 5);
  cursor: pointer;
}

header .content-header nav ul li:hover{
  background-color: rgb(248, 172, 29);
}

/* MENU BIENVENIDA AL NEPO */
/*-- Contenedor Main --*/
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}
/*-- Video Fondo --*/
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-- Contenido --*/
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-- Botones Bienvenida --*/
.btn-bienvenida{
  transition: .4s;
  width: 350px;
  height: 80px;
  margin: 30px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  box-shadow: rgb(215, 141, 5) 5px 5px;
}

.btn-bienvenida:hover{
  transition: .4s;
  width: 360px;
  height: 110px;
  box-shadow: rgb(215, 141, 5) 10px 10px;
}

/*-- Titulo Bienvenida --*/
.titulo-bienvenida{
  color:#fff;
  margin-bottom: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
}

.mascota{
  width: 170px;
  height: 305px;
  background: url('./assets/img/mascotaNepo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/*-- Nepo --*/
.nepo {
  background: url(./assets/img/nepo.svg);
  background-repeat: no-repeat;
  margin: 150px auto;
  width: 1154px;
  height: 590px;
  display: flex;
  flex-flow: row wrap;
}

.nepo-multiplicacion {
  background: url('./assets/img/nepo_multiplicacion.svg');
  background-repeat: no-repeat;
  margin: 150px auto;
  width: 1154px;
  height: 590px;
  display: flex;
  flex-flow: row wrap;
}

.titulo-factor{
  background-color: rgb(215, 141, 5);
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 11px;
}

.contador-num{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
}
.pantalla-basico{
  width: 1154px;
  height: 50px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -45px;
  z-index: 5;
}

.pantalla {
  width: 1154px;
  height: 50px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -45px;
  z-index: 1;
}

.pantalla-resultado {
  width: 678px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.pantalla-numA {
  width: 238px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.pantalla-numB {
  width: 238px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

/*-- CUADRANTES
    quadrant-1 = 2 columnas & 3 filas
    quadrant-2 = 3 columnas & 3 filas
    quadrant-3 = 2 columnas & 4 filas
    quadrant-4 = 3 columnas & 4 filas
    down = cuadrantes inferiores
--*/

.bottom {
  margin-bottom: 25px;
  transform: rotate(180deg);
}
.quadrant-1{
  width: 142px;
  height: 200px;
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quadrant-2{
  width: 208px;
  height: 199px;
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quadrant-3{
  width: 142px;
  height: 228px;
  margin-top: 0px;
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quadrant-4{
  width: 208px;
  height: 228px;
  margin-top: 0px;
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* LAS COLUMNAS VAN EN SENTIDO DE LAS MANECILLAS DEL RELOJ */
/*Columna 1*/
.column-1{
  display: flex;
  height: 100%;
  width: 100%;
}

.column-2{
  display: flex;
  height: 100%;
  width: 100%;
}

.column-3{
  display: flex;
  height: 100%;
  width: 100%;
}

/*--- MENU PRINCIPAL --*/
.encabezado {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.contentHeader {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoNepo {
  background: url('./assets/img/logo_nepo.png');
  width: 22%;
  height: 22%;
  background-repeat: no-repeat;
}

.column {
  list-style: none;
  display: flex;
  align-items: center;
}

.row {
  margin: 0 12px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}


.menu .column .row .link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: .5s;
  font-size: 13px;
}

.menu .column .row .link:hover {
  color: rgb(215, 141, 5);
}

.navToggle {
  display: none;
}


/* RESPONSIVE DESIGN */
@media (max-width: 819px) {

  .encabezado .contentHeader .logoNepo {
    width: 30%;
    height: 30%;
  }
  .column {
    position: absolute;
    top: 48px;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }

  .menu .column .row  {
    margin: 15px 0;
    
  }

  .column.open {
    transform: translateX(0) !important;
  }

  .navToggle {
    display: flex !important;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
  }
  
  .navToggle span {
    width: 30px;
    height: 4px;
    background: #000;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .navToggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .navToggle.open > span:nth-child(2) {
    display: none;
  }

  .navToggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}

@media (max-width: 905px){
  .menu .column .row .link {
    font-size: 11px;
  }

}

/*-- MOBILE VERTICAL ORIENTATION --*/

@media (max-width: 420px) {
  /*MAIN NEPO*/

  .nepo-multiplicacion {
    background: url('./assets/img/marcoNepoMult.svg');
    background-repeat: no-repeat;
    width: 360px;
    height: 230px;
    margin: 70px auto;
    display: flex;
    flex-flow: row wrap;
  }

  .nepo {
    background: url('./assets/img/marcoNepoVertical.svg');
    background-repeat: no-repeat;
    width: 360px;
    height: 230px;
    margin: 70px auto;
    display: flex;
    flex-flow: row wrap;
  }
  
  .content-header h3 {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 15px;
  }

  header .content-header nav ul li {
    padding: 5px 5px;
    margin: 0 5px;
  }

  header .content-header nav ul li a h4 {
    font-size: 10px;
    text-align: center;
  }

  .pantalla-basico {
    width: 360px;
    height: 13px;
    font-size: 10px;
    font-weight: 500;
    margin-top: 11px;
  }

  .pantalla {
    width: 360px;
    height: 26px;
    font-size: 10px;
    margin-top: 0px;
    justify-content: center;
  }

  .pantalla-resultado{
    width: 202px;
  }

  .titulo-factor {
    font-size: 10px;
    margin-top: 0;
  }

  .contador-num {
    font-size: 10px;
    z-index: 5;
    margin-top: 0;
  }

  .pantalla-numA {
    width: 64px;
    margin-left: 5px;
    font-size: 10px;
  }

  .pantalla-numB {
    width: 64px;
    margin-left: 5px;
    font-size: 10px;
  }

  .bottom {
    margin-top: 17px;
  }

  .quadrant-1 {
    width: 45px;
    height: 89px;
    margin-left: 9px;
  }
  
  .quadrant-2 {
    width: 65px;
    height: 89px;
    margin-left: 9px;
  }

  .quadrant-3 {
    width: 45px;
    height: 99px;
    margin-left: 9.5px;
  }

  .quadrant-4 {
    width: 65px;
    height: 99px;
    margin-left: 9.5px;
  }

  .column-1 {
    justify-content: center;
  }

  .column-2 {
    justify-content: center;
  }

  .column-3 {
    justify-content: center;
  }

  /*MENU NEPO*/
  .btn-bienvenida{
    transition: .4s;
    width: 350px;
    height: 80px;
    margin: 30px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    background-color: orange;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    box-shadow: rgb(215, 141, 5) 5px 5px;
  }
  
  .btn-bienvenida:hover{
    transition: .4s;
    width: 360px;
    height: 110px;
    box-shadow: rgb(215, 141, 5) 10px 10px;
  }
  
  /*-- Titulo Bienvenida --*/
  .titulo-bienvenida{
    color:#fff;
    margin-bottom: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
  }
  
  .column {
    top: 40px;
  }
  
  .encabezado .contentHeader .logoNepo {
    width: 40%;
    height: 40%;
  }

  .encabezado .contentHeader .row .link {
    font-size: 18px;
  }

  .btn-bienvenida {
    padding: 5px;
    width: 300px;
  }
}

/*-- MOBILE HORIZONTAL ORIENTATION --*/
@media (max-width: 916px) and (orientation: landscape ) {
  
  .titulo-bienvenida {
    font-size: 23px;
    margin-bottom: 10px;
    transition: 0.3s;
  }

  .btn-bienvenida {
    transition: 0.3s;
    width: 250px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
  }

  .btn-bienvenida:hover {
    transition: 0.3s;
    width: 270px;
    height: 120px;
  }

  .nepo-multiplicacion {
    background: url('./assets/img/marcoNepoMultH.svg');
    background-repeat: no-repeat;
    width: 690px;
    height: 309px;
    margin: 70px auto;
    display: flex;
    flex-flow: row wrap;
  }

  .pantalla {
    width: 690px;
    height: 36px;
    font-size: 10px;
    margin-top: -25px;
    justify-content: center;
  }

  .pantalla-resultado{
    width: 387px;
  }

  .titulo-factor {
    font-size: 11px;
    margin-top: 0;
  }

  .contador-num {
    font-size: 13px;
    margin-top: 0;
  }

  .pantalla-numA {
    width: 124px;
    margin-left: 5px;
    font-size: 13px;
  }

  .pantalla-numB {
    width: 124px;
    margin-left: 5px;
    font-size: 13px;
  }

  .nepo {
    background: url('./assets/img/marcoNepomovil.svg');
    background-repeat: no-repeat;
    width: 690px;
    height: 309px;
    margin: 70px auto;
    display: flex;
    flex-flow: row wrap;
  }

  .quadrant-1 {
    width: 85px;
    height: 120px;
    margin-left: 17px;
  }

  .quadrant-2 {
    width: 124px;
    height: 115px;
    margin-left: 19px;
  }

  .quadrant-3 {
    width: 85px;
    height: 133px;
    margin-left: 16px;
  }

  .quadrant-4 {
    width: 124px;
    height: 133px;
    margin-left: 19px;
  }

  .bottom {
    margin-bottom: -26px;
  }

  .column-1 {
    justify-content: center;
  }

  .column-2 {
    justify-content: center;
  }

  .column-3 {
    justify-content: center;
  }

  .pantalla-basico {
    width: 690px;
    height: 16px;
    margin-top: -15px;
    font-size: 15px;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (orientation: portrait ) {
  
  .titulo-bienvenida {
    font-size: 23px;
    margin-bottom: 10px;
    transition: 0.3s;
  }

  .btn-bienvenida {
    transition: 0.3s;
    width: 250px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
  }

  .btn-bienvenida:hover {
    transition: 0.3s;
    width: 270px;
    height: 120px;
  }

  .nepo-multiplicacion {
    background: url('./assets/img/marcoNepoMultH.svg');
    background-repeat: no-repeat;
    width: 690px;
    height: 309px;
    margin: 70px auto;
    display: flex;
    flex-flow: row wrap;
  }

  .pantalla {
    width: 690px;
    height: 36px;
    font-size: 10px;
    margin-top: -25px;
    justify-content: center;
  }

  .pantalla-resultado{
    width: 387px;
  }

  .titulo-factor {
    font-size: 11px;
    margin-top: 0;
  }

  .contador-num {
    font-size: 13px;
    margin-top: 0;
  }

  .pantalla-numA {
    width: 124px;
    margin-left: 5px;
    font-size: 13px;
  }

  .pantalla-numB {
    width: 124px;
    margin-left: 5px;
    font-size: 13px;
  }

  .nepo {
    background: url('./assets/img/marcoNepomovil.svg');
    background-repeat: no-repeat;
    width: 690px;
    height: 309px;
    margin: 70px auto;
    display: flex;
    flex-flow: row wrap;
  }

  .quadrant-1 {
    width: 85px;
    height: 120px;
    margin-left: 17px;
  }

  .quadrant-2 {
    width: 124px;
    height: 115px;
    margin-left: 19px;
  }

  .quadrant-3 {
    width: 85px;
    height: 133px;
    margin-left: 16px;
  }

  .quadrant-4 {
    width: 124px;
    height: 133px;
    margin-left: 19px;
  }

  .bottom {
    margin-bottom: -26px;
  }

  .column-1 {
    justify-content: center;
  }

  .column-2 {
    justify-content: center;
  }

  .column-3 {
    justify-content: center;
  }

  .pantalla-basico {
    width: 690px;
    height: 16px;
    margin-top: -15px;
    font-size: 15px;
    font-weight: 500;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  
  .nepo-multiplicacion {
    background: url('./assets/img/marcoNepoMultH.svg');
    background-repeat: no-repeat;
    width: 690px;
    height: 309px;
    margin: 70px auto;
    display: flex;
    flex-flow: row wrap;
  }

  .pantalla {
    width: 690px;
    height: 36px;
    font-size: 10px;
    margin-top: -25px;
    justify-content: center;
  }

  .pantalla-resultado{
    width: 387px;
  }

  .titulo-factor {
    font-size: 11px;
    margin-top: 0;
  }

  .contador-num {
    font-size: 13px;
    margin-top: 0;
  }

  .pantalla-numA {
    width: 124px;
    margin-left: 5px;
    font-size: 13px;
  }

  .pantalla-numB {
    width: 124px;
    margin-left: 5px;
    font-size: 13px;
  }

  .quadrant-1 {
    width: 85px;
    height: 120px;
    margin-left: 17px;
  }

  .quadrant-2 {
    width: 124px;
    height: 115px;
    margin-left: 19px;
  }

  .quadrant-3 {
    width: 85px;
    height: 133px;
    margin-left: 16px;
  }

  .quadrant-4 {
    width: 124px;
    height: 133px;
    margin-left: 19px;
  }

  .bottom {
    margin-bottom: -26px;
  }

  .column-1 {
    justify-content: center;
  }

  .column-2 {
    justify-content: center;
  }

  .column-3 {
    justify-content: center;
  }
}
